<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
  <link rel="stylesheet" href="../static/add_customer.css">
</head>
<body>
 <div class="addCustomer">
   <form method="post" action="/createCustomer" th:object="${data}">
     <div class="customer_details">
       <input type="text" placeholder="first name" th:field="*{firstName}" required/>
       <input type="text" placeholder="Street" th:field="*{street}"/>
       <input type="text" placeholder="City" th:field="*{city}"/>
       <input type="email" placeholder="Email" th:field="*{email}"/>
     </div>
     <div class="customer_details">
       <input type="text" placeholder="Last name" th:field="*{lastName}" required/>
       <input type="text" placeholder="Address" th:field="*{address}"/>
       <input type="text" placeholder="State" th:field="*{state}"/>
       <input type="tel" placeholder="Phone" th:field="*{phone}"/>
       <input type="submit">
     </div>
   </form>
 </div>
</body>
</html>