body{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: blue;
}
.login{
  display: flex;
  flex-direction: column;
  width: 30%;
}

form{
display: flex;
flex-direction: column;
gap: 10px;
}
input{
height: 2rem;
}